@import 'colors/mocha';

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.dashboard {
  background-color: $base;
  color: $text;
  padding: 10px;
}

.title {
  font-size: 2.5em;
  font-family: JetBrainsMono Nerd Font;
  font-weight: Bold;
}

.name {
  font-family: Iosevka Nerd Font;
  font-weight: Bold;
  font-size: 2em;
  padding-left: 5.5em;
  padding-bottom: 6em;
}

.pfp {
  background-image: url("assets/pfp.png");
  background-repeat: no-repeat;
  background-size:10rem;
  min-height: 240px;
  min-width: 240px;
}

.switch_theme_btn {
  background-color: $surface0;
  color: $text;
  border-radius: 20px;
  font-size: 1.2em;
  padding: 10px;
}
